<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Admin Login</p>
    <form method="post">
      <p>Admin:</p>
      <input type="text" name="admin"/><br>
      <p>Password:</p>
      <input type="password" name="password"/><br>
      <input type="submit" value="submit"/>
    </form>
  </body>
</html>